.gs-rule-field-container {
  display: flex;
  div:first-child {
    flex: 2;
    width: 100%;
  }

  .ant-divider {
    height: auto;
    margin: 0 20px;
  }
  .gs-symbolizer-renderer {
    flex: 1;
  }
}
