.gs-rule-field-container {
  display: flex;
  div:first-child {
    flex: 2;
  }

  .ant-divider {
    height: auto;
    margin: 0 20px;
  }
  .gs-renderer {
    flex: 1;

    .gs-symbolizer-renderer {
      height: 100%;
    }
  }
}
