.gs-style .gs-style-name-classification-row {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.gs-style .gs-rule-table .ant-table-footer {
  margin-top: 1px;
  padding: 0;
}

.gs-style .gs-style-rulegenerator {
  margin-left: auto;
}
