.gs-symbolizer-preview .map {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.gs-edit-preview-button {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
}

.gs-symbolizer-preview .gs-symbolizer-editor {
  z-index: 2;
  position: relative;
}

.gs-symbolizer-preview-tabs {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 5px;
  z-index: 2;
}
