.gs-symbolizer-multi-editor {
  overflow: inherit;
}

.gs-symbolizer-multi-editor .ant-tabs-extra-content {
  margin-right: 5px;
}

.gs-symbolizer-multi-editor .gs-symbolizer-multi-editor-tab {
  padding: 10px;
}
