.rule-generator-window {
  background-color: white;
  border: 3px solid grey;
  border-radius: 3px;
  z-index: 10;
}

.rule-generator-window .header {
  background-color: lightgrey;
  padding: 3px;
  display: flex;
}

.rule-generator-window .header .title {
  flex: 1;
}

.rule-generator-window-header:hover {
  cursor: grab;
}

.rule-generator-window-header:active {
  cursor: grabbing;
}
