.gs-rule-generator {
  padding: 20px;
}

.gs-rule-generator .ant-form-item {
  display: flex;
  align-items: center;
}

.gs-rule-generator .ant-form-item .ant-form-item-control-wrapper {
  flex: 1;
}

.gs-rule-generator .gs-rule-generator-submit-button {
  float: right;
}
