.gs-text-symbolizer-editor .ant-select-selection {
  width: 90px;
}

.gs-text-symbolizer-editor .ant-row.ant-form-item.ant-form-item-no-colon {
  margin-bottom: 0;
}

.gs-text-symbolizer-editor .ant-form-item-label {
  display: none;
}
