.filter-editor-window {
  background-color: white;
  border: 3px solid grey;
  border-radius: 3px;
  z-index: 10;
}

.filter-editor-window .header {
  background-color: lightgrey;
  padding: 3px;
  display: flex;
}

.filter-editor-window .header .title {
  flex: 1;
}

.filter-editor-window-body {
  padding: 10px;
  min-width: 400px;
}

.filter-editor-window-header:hover {
  cursor: grab;
}

.filter-editor-window-header:active {
  cursor: grabbing;
}
