.gs-function-name-combo {
  display: flex;

  .ant-select {
    flex: 1;

    .ant-select-selector {
      border-radius: 6px 0 0 6px;
    }
  }

  button.ant-btn {
    border-radius: 0 6px 6px 0;
    border-left: none;
    transition: border-width 0s;

    &:hover {
      border-left: 1px solid;
    }
  }
}
