.number-expression-input {
  display: flex;
  align-items: center;

  .gs-function-ui,
  .ant-input-number-affix-wrapper,
  .ant-input-number {
    flex: 1;
  }

  button.ant-btn {
    visibility: hidden;
    border-radius: 0 6px 6px 0;
  }

  &:hover {
    button.ant-btn {
      visibility: visible;
    }

    .ant-input-number,
    .ant-input-number-affix-wrapper {
      border-radius: 6px 0 0 6px;
    }
  }

  .slider-wrapper {
    display: flex;
    gap: 5px;
    flex: 1;
    .ant-slider {
      flex: 1;
    }
  }
}
