.number-expression-input {
  display: flex;
  align-items: center;

  .ant-input {
    flex: 1;
  }

  button.ant-btn {
    display: none;
    border-radius: 0 2px 2px 0;
  }

  &:hover {
    button.ant-btn {
      display: inline-block;
    }
  }

}
