.number-expression-input {
  display: flex;
  align-items: center;

  .gs-function-ui,
  .ant-input-number-affix-wrapper,
  .ant-input-number {
    border-radius: 6px 0 0 6px;
    flex: 1;
  }

  button.ant-btn {
    border-left: none;
    border-radius: 0 6px 6px 0;
    transition: border-width 0s;

    &:hover {
      border-left: 1px solid;
    }
  }

  .slider-wrapper {
    display: flex;
    gap: 5px;
    flex: 1;

    .ant-slider {
      flex: 1;
      margin: 10px 5px;
    }
  }

  .number-wrapper {
    display: flex;
  }
}
