.gs-rule-table {
  padding: 10px;
}

.gs-rule-table .ant-table-body td {
  padding: 0;
  border-bottom: 0;
}

.gs-rule-table .ant-table-body .ant-input,
.gs-rule-table .ant-table-body .ant-input-number,
.gs-rule-table .ant-table-body .gs-symbolizer-renderer {
  border-radius: 0;
}

.gs-rule-table .ant-table-body .ant-input {
  padding: 0 10;
}

.gs-rule-table .ant-table-body .ant-input-search .ant-input-search-button {
  border-radius: 0;
  display: none;
}

.gs-rule-table .ant-table-body .ant-input-search:hover .ant-input-search-button {
  display: inherit;
}

.gs-rule-table .ant-table-body .gs-symbolizer-renderer {
  height: 32px;
  width: 32px;
}

.gs-rule-table .ant-table-body .gs-symbolizer-sldrenderer,
.gs-rule-table .ant-table-body .gs-symbolizer-sldrenderer img {
  height: 32px;
  width: 48px;
}

.gs-rule-table .ant-table-body .scale-denominator {
  width: 100%
}
