.string-expression-input {
  display: flex;

  .ant-input {
    border-radius: 6px 0 0 6px;
    flex: 1;
  }

  button.ant-btn {
    border-radius: 0 6px 6px 0;
    border-left: none;
    transition: border-width 0s;

    &:hover {
      border-left: 1px solid;
    }
  }

}
