
.gs-comparison-filter-ui {
  padding-left: 5px;
}

.gs-comparison-filter-ui.micro .ant-form-item {
  margin-bottom: 0;
}

.gs-comparison-filter-ui.micro .ant-form-item-label {
  display: none;
}

.gs-comparison-filter-ui.micro input {
  font-size: 0.9em;
  padding: 4px 11px;
  padding: 2px;
  height: 24px;
}

.gs-comparison-filter-ui.micro .ant-select-selection {
  font-size: 0.9em;
  height: 24px;
}

.gs-comparison-filter-ui.micro .ant-select-selection__rendered {
  line-height: inherit;
}
