
.gs-comparison-filter-ui {
  padding-left: 5px;
}

.gs-comparison-filter-ui.micro .ant-form-item {
  margin-bottom: 0;
}

.gs-comparison-filter-ui.micro .ant-form-item-label {
  display: none;
}

.gs-comparison-filter-ui.micro input,
.gs-comparison-filter-ui.micro .ant-input,
.gs-comparison-filter-ui.micro .ant-input-number {
  font-size: 0.9em;
  padding: 0 4px;
  height: 24px;
}

.gs-comparison-filter-ui.micro .ant-select-selection {
  font-size: 0.9em;
  height: 24px;
}

.gs-comparison-filter-ui.micro .ant-select-selection__rendered {
  line-height: 24px;
}

.gs-comparison-filter-ui.micro .ant-select-selection__rendered ul {
  padding: 0;
}

.gs-comparison-filter-ui.micro .ant-select-selection__rendered ul li {
  padding: 0;
}

.gs-comparison-filter-ui.micro .gs-operator-combo .ant-select-arrow {
  right: 2px;
}
