.gs-selectable-item {

  position: relative;

  &.selected {
    background-color: #eee;
  }

  >.anticon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: x-large;
    z-index: 99;
  }

}
