.wfs-parser-modal .ant-modal-footer {
  display: none;
}

.wfs-parser-modal .wfs-parser-input .ant-row.ant-form-item {
  display: flex;
}

.wfs-parser-modal .wfs-parser-input .ant-row .ant-form-item-label {
  flex: 2;
}

.wfs-parser-modal .wfs-parser-input .ant-row .ant-form-item-control-wrapper {
  flex: 3;
}

.wfs-parser-modal .wfs-parser-input .wfs-parser-submit-button {
  float: right;
}
